@import (reference) 'bootstrap/_variables';

@keyframes slide
{
  0% {background-position:~"100% calc(85% + 0px)"}
  100% {background-position:~"100% calc(85% + 8px)"}
}

[ui-sref] {cursor:pointer;}

a
{
  outline:none;

  &:focus
  {
    outline:none;
  }
}

body
{
  height:100%;
  padding-top:56px;

  > .container
  {
    height:100%;

    > .row
    {
      height:100%;

      > [class^='col-'],
      > [class*=' col-']
      {
        height:100%;
        overflow-y:auto;

        &:first-child {padding-right:2px;}
        &:last-child {padding-left:0;}
      }
    }
  }
}

#sidebar
{
  text-align:right;

  .heading
  {
    font-family:@headings-font-family;
    font-style:normal;
    background:url('../images/pinstripe.png') 100% 80% #2f3438;
    animation:slide linear 1s infinite;
    color:#fff;
    display:inline-block;
    line-height:0.8em;
    padding:8px 10px;
    -webkit-font-smoothing:antialiased;
  }

  .brand
  {
    font-size:60px;
    font-weight:bold;
  }

  .brand + .nav.nav-stacked
  {
    > li.heading
    {
      padding-top:0;
    }
  }

  .nav.nav-stacked
  {
    margin-bottom:30px;

    > li
    {
      font-size:18px;

      &.heading
      {
        font-size:36px;
        font-weight:300;
        margin-bottom:4px;
      }

      &.active
      {
        > a
        {
          color:@link-hover-color;
        }
      }

      > a
      {
        padding:1px 0;
        line-height:1em;

        > .fa
        {
          font-size:0.8em;
          // vertical-align:top;
        }
      }
    }
  }
}

#main
{
  > ui-view,
  > [ui-view]
  {
    > ul.loading-state
    {
      font-size:0;

      > li > .tile
      {
        font-family:"Bebas Neue";
        text-align:center;
        color:#bbb;
        font-size:72px;
        line-height:175px;
        font-style:normal;
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        height:100%;
        width:100%;
        background:url('../images/pinstripe.png') 100% 80% #ccc;
        animation:slide linear 1s infinite;
      }
    }
  }
}
