@import (reference) 'bootstrap/_variables';
@import (reference) 'bootstrap/_mixins';
@import (reference) 'bootstrap/less/type';

.tile-animation
{
  .project-meta
  {
    .project-title,
    .project-description
    {
      transition:opacity 250ms ease-out;
    }

    &.show-on-hover
    {
      .project-title,
      .project-description
      {
        opacity:0;
      }
    }

    .tile-animation.ng-animate
    {
      .live-asset
      {
        opacity:0;
      }
    }
  }

  .project-meta:hover
  {
    .project-title,
    .project-description
    {
      opacity:1;
    }
  }

  &.ng-animate .project-meta
  {
    .project-title,
    .project-description,
    .live-asset
    {
      opacity:0;
    }
  }
}

.single-project
{
  ul.tile-grid.assets-list
  {
    li.tile-container > .tile
    {
      overflow:hidden;
      box-sizing:border-box;
      width:~"calc(100% - 2px)";
      height:~"calc(100% - 2px)";
      top:auto;
      bottom:0;

      > img
      {
        position:absolute;
        left:50%;
        top:50%;
        .translate(-50%, -50%);
        width:auto;
      }
    }
  }

  .project-meta
  {
    display:inline-block;
    position:relative;
    top:0;
    left:0;
    width:100%;
    // height:3 * 175px;
    padding-bottom:60%;

    .selected-asset
    {
      width:100%;
      height:100%;
      // z-index:-1;
      overflow:hidden;

      .live-asset
      {
        position:absolute;
        left:0;
        top:0;
        z-index:1;
        height:100%;
        width:100%;
        background-position:50% 50%;
        background-size:contain;
        background-repeat:no-repeat;
        .transition(opacity 250ms ease-out);

        &.zoomable
        {
          cursor:zoom-in;

          &.zoomed {cursor:zoom-out;}
        }
      }

      ul.tile-grid
      {
        li.tile-container
        {
          width:20%;
          margin:0;

          > .tile
          {
            background-size:5 * 175px 3 * 175px;
          }
        }
      }
    }

    img
    {
      max-width:100%;
    }

    .project-title,
    .project-description
    {
      background:#fff;
      padding:10px;
      margin:0;
      z-index:2;
    }

    .project-title
    {
      position:absolute;
      top:52px;
      left:0;
      font-size:36px;
      height:48px;
      overflow:hidden;
      line-height:0.9em;
      padding-left:28px;

      > a
      {
        position: absolute;
        top: 50%;
        left: 10px;
        .translate(0, -50%);
        color: @link-hover-color;
      }
    }

    .project-description
    {
      position:absolute;
      bottom:54px;
      right:0;
      max-width:256px;
      text-align:right;
    }
  }
}
