@import (reference) 'bootstrap/_variables';
@import (reference) 'bootstrap/_mixins';
@import (reference) 'bootstrap/less/type';

ul.tile-grid.projects-list
{
  li.tile-container > .tile
  {
    overflow:hidden;
    box-sizing:border-box;
    width:100%;
    height:100%;
    top:auto;
    bottom:0;

    > img
    {
      position:absolute;
      left:50%;
      top:50%;
      .translate(-50%, -50%);
      width:auto;
    }
  }
}
