@import (reference) 'bootstrap/_variables';
@import (reference) 'bootstrap/_mixins';
@import (reference) 'bootstrap/less/type';

@tile-transition-time:250ms;

ul.tile-grid
{
  width:100%;
  .list-unstyled();

  li.tile-container
  {
    width:~"calc(20% - 2px)";
    margin-right:2px;
    margin-bottom:2px;
    position:relative;
    top:0;
    left:0;
    display:inline-block;

    > .tile
    {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      // background:blue;

      .tile-meta
      {
        position:absolute;
        background-color:@link-hover-color;
        top:0;
        right:0;
        bottom:0;
        left:0;
        opacity:0;
        .transition(opacity 125ms ease-out);
      }

      .loading-state
      {
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        z-index:50;
        opacity:0;
        background:url('../images/pinstripe.png') 100% 80% transparent;
        animation:slide linear 1s infinite;
        .transition(opacity 500ms ease-out);
      }

      &.tile-is-loading
      {
        .tile-meta,
        .loading-state
        {
          opacity:1;
        }
      }

      > img
      {
        width:100%;
        opacity:0.4;
      }
    }

    &:after
    {
      padding-top:100%;
      display:block;
      content:'';
    }
  }
}

ui-view.tile-animation,
[ui-view].tile-animation
{
  position:absolute;
  width:100%;
  height:100%;
  overflow-y:auto;

  ul.tile-grid
  {
    li.tile-container
    {
      > .tile
      {
        .rotateX(90deg);

        &.enter
        {
          .transition(all @tile-transition-time ease-out 125ms);
          .rotateX(0deg);
          background:#fff;

          > img
          {
            .transition(opacity @tile-transition-time ease-out 125ms);
            opacity:1;
          }
        }

        &.leave
        {
          .transition(all @tile-transition-time ease-in);
          .rotateX(90deg);
          background:#000;

          > img
          {
            .transition(opacity @tile-transition-time ease-in);
            opacity:0.3;
          }
        }
      }
    }
  }
}

@hover-transition-time:1s;
ui-view.tile-animation,
[ui-view].tile-animation
{
  ul.tile-grid li.tile-container
  {
    > .tile
    {
      .tile-meta
      {
        .tile-title
        {
          font-family:'Bebas Neue';
          position:absolute;
          left:0;
          right:0;
          bottom:0;
          padding:10px;
          font-style:normal;
          color:#fff;
          font-size:28px;
          font-weight:lighter;
          line-height:1em;
        }
      }
    }

    &:hover
    {
      > .tile.enter
      {
        .tile-meta
        {
          opacity:1;
        }
      }
    }
  }
}
