@import "bootstrap/less/mixins/vendor-prefixes.less";

.rotate3d(@x, @y, @z, @degrees) {
  -webkit-transform: rotate3d(~"@{x}, @{y}, @{z}, @{degrees}");
      -ms-transform: rotate3d(~"@{x}, @{y}, @{z}, @{degrees}"); // IE9 only
       -o-transform: rotate3d(~"@{x}, @{y}, @{z}, @{degrees}");
          transform: rotate3d(~"@{x}, @{y}, @{z}, @{degrees}");
}