doctype html.no-js
head
  meta(charset='utf-8')
  base(href='/')

  title John Keppel - Portfolio

  meta(name='description', content='')
  meta(name='viewport', content='width=device-width')
  
  // Place favicon.ico and apple-touch-icon.png in the root directory
  // build:css(.tmp) styles/vendor.css
  // bower:css
  // endbower
  // endbuild
  
  // build:css(.tmp) styles/main.css
  link(rel='stylesheet', href='styles/bootstrap/bootstrap.css')
  link(rel='stylesheet', href='styles/main.css')
  link(rel='stylesheet', href='styles/projects.css')
  link(rel='stylesheet', href='styles/project.css')
  link(rel='stylesheet', href='styles/tile-grid.css')
  // endbuild
  |   
body(ng-app='pecofolio' class='{{bodyClasses.join(" ")}}')
  .container
    .row
      #sidebar.col-xs-3
        .brand.heading
          | John Keppel

        ul.nav.nav-stacked
          li.heading(ui-sref='projects.category({categorySlug: "all"})') Portfolio
          li(ui-sref-active='active')
            a(ui-sref='projects.category({categorySlug: "illustration"})')
              | illustration 
              i.fa.fa-fw(ng-class='getNavItemIconClasses(toCategoryIs("illustration"))')
          li(ui-sref-active='active')
            a(ui-sref='projects.category({categorySlug: "motion"})')
              | motion 
              i.fa.fa-fw(ng-class='getNavItemIconClasses(toCategoryIs("motion"))')
          li(ui-sref-active='active')
            a(ui-sref='projects.category({categorySlug: "static"})')
              | static 
              i.fa.fa-fw(ng-class='getNavItemIconClasses(toCategoryIs("static"))')
          li(ui-sref-active='active')
            a(ui-sref='projects.category({categorySlug: "wip"})')
              | WIP 
              i.fa.fa-fw(ng-class='getNavItemIconClasses(toCategoryIs("wip"))')
          li(ui-sref-active='active')
            a(ui-sref='projects.category({categorySlug: "3d"})')
              | 3D 
              i.fa.fa-fw(ng-class='getNavItemIconClasses(toCategoryIs("3d"))')
          li(ui-sref-active='active')
            a(ui-sref='projects.category({categorySlug: "all"})')
              | all 
              i.fa.fa-fw(ng-class='getNavItemIconClasses(toCategoryIs("all"))')

        ul.nav.nav-stacked
          li.heading About
          li
            a(href='resume.pdf' target='_blank')
              | r&eacute;sum&eacute; 
              i.fa.fa-fw(ng-class='getNavItemIconClasses(false)')
          li
            a(href='https://www.linkedin.com/pub/john-keppel/28/282/687')
              | linkedin 
              i.fa.fa-fw(ng-class='getNavItemIconClasses(false)')
          li
            a(href='http://bastard.johnkeppel.com')
              | bastard! the series 
              i.fa.fa-fw(ng-class='getNavItemIconClasses(false)')
          li
            a(href='mailto:john@johnkeppel.com')
              | john@johnkeppel.com 
              i.fa.fa-fw(ng-class='getNavItemIconClasses(false)')

      #main.col-xs-9
        ui-view.tile-animation(ng-animate-children="true")
          ul.tile-grid.loading-state
            - var i = 0
            //- - var message = "LOADIOADINADINGDINGL"
            - var message = "LOADINGLOADINGLOADIN"
            while i < 20
              li.tile-container: .tile.enter= message[i++]

  // Google Analytics: change UA-XXXXX-X to be your site's ID
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-7019900-3');
    ga('send', 'pageview');


  script(src='https://www.youtube.com/iframe_api')

  // build:js(.tmp) scripts/vendor.js
  // bower:js
  // endbower
  // endbuild

  // build:js(.tmp) scripts/scripts.js
  script(src='scripts/app.js')
  script(src='scripts/config.js')
  script(src='scripts/states.js')
  script(src='scripts/animations/tile-animation.js')
  script(src='scripts/controllers/project.js')
  script(src='scripts/controllers/project/asset.js')
  script(src='scripts/controllers/projects.js')

  script(src='scripts/directives/live-asset.js')

  script(src='scripts/services/resource.js')
  script(src='scripts/services/resource-collection.js')
  script(src='scripts/services/resources/asset.js')
  script(src='scripts/services/resources/category.js')
  script(src='scripts/services/resources/project.js')
  // endbuild
