@import 'bootstrap/less/variables';

body
{
  font-style:italic;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
{
  font-style:normal;
  -webkit-font-smoothing:antialiased;
}

.container
{
  width:ceil(875px / 0.75);
}
