div.live-asset(
  live-asset-container='.project-meta'
  live-asset-zoomable='zoomable'
  live-asset-dimensions='{width:assetWidth, height:assetHeight}'
  ng-style='{"background-image":"url(" + asset._embedded["peco:asset/attachment"].original_url + ")"}'
)
  youtube-video(
    video-url='asset.video_url'
    player-width='"100%"'
    player-height='"100%"'
    player-vars='{modestbranding:1,color:"white",showinfo:0,theme:"light",controls:0,rel:0}'
  )
ul.tile-grid
  li.tile-container(ng-repeat="imageTile in imageTiles")
    .tile
      img(ng-src='{{imageTile.url}}')
