ul.projects-list.tile-grid
  li.project.tile-container(
    ng-repeat='project in projectCollection.resources | orderBy : "ordinal"'
    ui-sref='.details.asset({projectSlug:project.slug,assetId:project.featuredAsset.id})'
    data-name='{{project.title}}'
  )
    .tile(ng-class='{"tile-is-loading":toStateParamIs("projectSlug", project.slug)}')
      .loading-state
      img(ng-src='{{project.featuredAsset._embedded["peco:asset/attachment"].thumbnail_url}}')
      .tile-meta
        .tile-title
          {{project.title}}
