.single-project
  .project-meta(ng-class='{"show-on-hover": hideMetadata}')
    h1.project-title
      a(ui-sref='^')
        i.fa.fa-caret-left
      |  {{project.title}}
    p.project-description(ng-if='project.description')
      {{project.description}}
    ui-view.selected-asset.tile-animation(ng-animate-children='true')

  ul.tile-grid.assets-list(ng-if='assets.length > 1')
    li.tile-container(
      ng-repeat='asset in assets'
      ui-sref='^.details.asset({name:project.name, assetId:asset.id})'
    )
      .tile(ng-class='{"tile-is-loading":toStateParamIs("assetId", asset.id)}')
        .loading-state
        img(ng-src='{{asset._embedded["peco:asset/attachment"].thumbnail_url}}')
        .tile-meta
          .tile-title
            {{asset.title}}
